.card {
    max-width: 364px;
    width: 100%;
    background: #222222;
    border-radius: 6px;
    box-shadow: 0px 4px 30px 0px #00000014;   

}

.card__link {
    display: flex;
    flex-direction: column;
    outline: none;
    color: #FFFF;
    text-decoration: none;
}

.card__image {
    height: 203px;
    width: 100%;
}

.card__info {
    display: grid;
    grid-template: "title like"
                    "duration .";
    grid-template-columns: auto 30px;
    justify-content: space-between;
    padding: 9px 16px 16px;
    align-items: center;
    row-gap: 10px;
}

.card__title {
    grid-area: title;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    margin: 0;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card__button {
    /* display: flex; */
    grid-area: like;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    /* padding: 5px 7px; */
}

.card__duration {
    grid-area: duration;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    color: #8B8B8B;
    margin: 0;
}

@media (max-width: 970px) {
    .card {
        max-width: 339px;
    }
    .card__image {
        height: 190px;
    }
    .card__info {
        padding: 8px 14px 14px;
    }
}

@media (max-width: 670px) {
    .card {
        max-width: 300px;
    }
    .card__image {
        height: 168px;
    }
    .card__info {
        padding: 7px 10px 14px 14px;
    }
    
    .card__title{
        font-size: 12px;
        line-height: 14px
    }
    .card__duration {
        font-size: 10px;
        line-height: 12px
    }
}
