.login {
    /* padding: 70px 442px 70px; */
    display: flex;
    flex-direction: column;
    background-color: #202020;
    height: 100vh;
    max-width: 396px;
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
}

.login__logo {
    width: 38px;
}

.login__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: left;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: 0;
}

.login__form {
    display: flex;
    flex-direction: column;
    padding-bottom: 157px;
}

.login__sign-up-wrapper {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-top: 16px;
    gap: 6px;
}

.login__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #8B8B8B;
}

.login__sign-up-button {
    outline: none;
    border: none;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    margin: 0;  
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.login__sign-up-button:hover {
    color: #184285;

}

@media (max-width: 970px) {
    .login{
        padding-top: 232px;
    }
}

@media (max-width: 670px) {
    .login{
        padding: 56px 30px 0;
    }

    .login__title{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 80px;

    }

    .login__form{
        padding-bottom: 267px;
    }
    .login__logo {
        align-self: center;
    }
    .login__text {
        font-size: 12px;
        line-height: 14px;
    }
    .login__sign-up-button {
        font-size: 12px;
        line-height: 14px;
    }
    .login__sign-up-wrapper{
        padding-top: 14px;
        gap: 7px;
    }
}

.form-error-message {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #EE3465;
}