.preloader {
    padding: 50px 0 80px;
}

.preloader__load {
    width: 100%;
    outline: none;
    border: none;
    background: #2F2F2F;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    color: white;
    border-radius: 6px;
    padding: 11px 0 9px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.preloader__load:hover {
    box-shadow: 0px 0px 14px 4px #0000003a;
 
}